.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.classpath
.idea/
.project
.settings/
.slcache/
.svn/
.gradle/
build/
tmp/
classes/
Servers/
events-grailsPlugins.iml
events.iml
logs/
stacktrace.log
target-eclipse/
target/
*.iml
TempWmicBatchFile.bat
/linkedin.com_learning/elasticsearch-essential-training_2015/scripts/
/linkedin.com_learning/elasticsearch-essential-training_2015/data/